<div class="container">
    <table>
        <thead>
            <tr>
                <th class="bgGray">CIUDAD</th>
                <th class="bgGray light">TEMPERATURA</th>
                <th class="bgGray light">VELOCIDAD AIRE km/h</th>
                <th class="bgGray light">HUMEDAD</th>
                <th class="bgGray light">MAX/MIN TEMPERATURA</th>
                <th class="bgGray"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let city of cities">
                <div *ngIf="!!weather[city]; then thenBlock else elseBlock"></div>

                <ng-template #thenBlock>
                    <td class="inlineContent">
                        <img src="https://openweathermap.org/img/w/{{weather[city].weather[0].icon}}.png"
                            class="weatherIcon bgGray" title="{{weather[city].weather[0].description}}" alt="weather icon">
                        <p>{{city}}</p>
                    </td>
                    <td>{{weather[city].main.temp}}º</td>
                    <td>{{weather[city].wind.speed}} km/h</td>
                    <td>{{weather[city].main.humidity}}%</td>
                    <td class="twoLinesContent">
                        <p>MAX {{weather[city].main.temp_max}}º</p>
                        <p class="light">MIN {{weather[city].main.temp_min}}º</p>
                    </td>
                </ng-template>

                <ng-template #elseBlock>
                    <td class="inlineContent">
                        <span class="weatherIcon"></span>
                        <p>{{city}}</p>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </ng-template>

                <td>
                    <button (click)="getWeather(city)">View</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>