body {
    padding: 0;
    margin: 0;

    font-family:
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol';
    color: #464e5f;

    background-color: #e5e5e5;

    .light {
        color: #b5b5c3;
    }

    .bgGray {
        background-color: #f3f6f9;
    }
}